* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
header {
  background-color: blueviolet;
  color: white;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.app-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #eee;
}
.level-info {
  margin: 30px 0px;
  box-shadow: 10px 9px 80px 20px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px dashed blueviolet;
  font-size: 16px;
  padding: 8px;
  background-color: white;
  width: 60%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.the-word {
  color: blueviolet;
  font-size: 40px;
}
.input-word {
  width: 60%;
  height: 40px;
  font-size: 24px;
  padding: 5px 10px;
  border: 2px solid blueviolet;
  border-radius: 5px;
}

.words {
  margin-top: 40px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 60%;
}

.words .word {
  font-size: 13px;
  color: white;

  background-color: blueviolet;
  padding: 5px;
  border-radius: 5px;
}

.status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  width: 60%;
}

.current-score,
.total-score,
.time-left,
.level-duration,
.level-type {
  color: blueviolet;
  font-weight: bold;
}

.level-choices {
  margin-top: 20px;
  display: flex;
  gap: 4px;
}
.level-choices button {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  border: 1px solid #333;
  width: 60px;
  height: 30px;
  font-size: 12px;
  cursor: pointer;
}
.level-choices .easy {
  background-color: green;
}
.level-choices .medium {
  background-color: orange;
}
.level-choices .hard {
  background-color: red;
}

.lose {
  color: red;
  font-size: 30px;
  font-weight: 500;
}
.win {
  color: green;
  font-size: 30px;
  font-weight: 500;
}
